ports:
  web:
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  web-ext:
    port: 8001
    expose:
      default: false
      ext: true
    exposedPort: 80
    protocol: TCP
    http:
      redirections:
        entryPoint:
          to: websecure-ext
          scheme: https
          permanent: true

  websecure-ext:
    port: 8444
    expose:
      default: false
      ext: true
    exposedPort: 443
    protocol: TCP
    http:
      tls:
        enabled: true

service:
  additionalServices:
    ext: {}

ingressRoute:
  dashboard:
    enabled: true
    entryPoints:
      - websecure
    middlewares:
      - name: traefik-error-pages
      - name: ak-outpost-authentik-embedded-outpost
        namespace: authentik
    tls:
      secretName: traefik-dashboard-tls

providers:
  kubernetesCRD:
    allowCrossNamespace: true

additionalVolumeMounts:
  - name: logs
    mountPath: /var/log/traefik

deployment:
  additionalVolumes:
    - name: logs
      persistentVolumeClaim:
        claimName: traefik-logs

logs:
  general:
    filePath: /var/log/traefik/traefik.log
  access:
    enabled: true
    filePath: /var/log/traefik/access.log
