apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
helmCharts:
  - name: postgresql
    repo: oci://registry-1.docker.io/bitnamicharts
    version: 18.2.0
    releaseName: postgresql
    namespace: postgresql
    includeCRDs: true
    valuesFile: ../../base/values.yaml
