apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
helmCharts:
  - name: mimir-distributed
    repo: https://grafana.github.io/helm-charts
    version: 6.0.3
    releaseName: mimir
    namespace: mimir
    includeCRDs: true
    valuesFile: ../../base/values.yaml
    additionalValuesFiles:
      - values-production.yaml
