apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
components:
  - ../../base
helmCharts:
  - name: traefik
    repo: https://traefik.github.io/charts
    version: 37.4.0
    releaseName: traefik
    namespace: traefik
    includeCRDs: true
    valuesFile: ../../base/values.yaml
    additionalValuesFiles:
      - values-production.yaml
patches:
  - path: patches/dashboard-cert.yaml
    target:
      kind: Certificate
      name: traefik-dashboard
  - path: patches/dashboard-ingr.yaml
    target:
      kind: IngressRoute
      name: traefik-dashboard
  - path: patches/catch-all-cert.yaml
    target:
      kind: Certificate
      name: traefik-catch-all
