apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
helmCharts:
  - name: alloy
    repo: https://grafana.github.io/helm-charts
    version: 1.4.0
    releaseName: alloy
    namespace: alloy
    includeCRDs: true
    valuesFile: ../../base/values.yaml
patches:
  - path: patches/ingr.yaml
    target:
      kind: IngressRoute
      name: alloy
  - path: patches/cert.yaml
    target:
      kind: Certificate
      name: alloy
