apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
helmCharts:
  - name: redis
    repo: oci://registry-1.docker.io/bitnamicharts
    version: 24.1.8
    releaseName: redis
    namespace: redis
    includeCRDs: true
    valuesFile: ../../base/values.yaml
