persistence:
  enabled: true
  storageClassName: nfs-ssd-1
  annotations:
    folder: monitoring/grafana

initChownData:
  securityContext:
    runAsUser: null
    runAsNonRoot: null

admin:
  existingSecret: grafana-admin
  userKey: user
  passwordKey: password

envFromSecrets:
  - name: grafana-discord
    prefix: DISCORD_

datasources:
  datasources.yaml:
    apiVersion: 1
    prune: true
    datasources:
      - name: Mimir
        type: prometheus
        uid: mimir
        url: http://mimir-gateway.mimir.svc.cluster.local/prometheus
        access: proxy
        isDefault: true
        jsonData:
          manageAlerts: false
          prometheusType: Mimir
          httpHeaderName1: X-Scope-OrgID
        secureJsonData:
          httpHeaderValue1: k8s-nas
      - name: Loki
        type: loki
        uid: loki
        url: http://loki-gateway.loki.svc.cluster.local
        access: proxy
        jsonData:
          timeout: 60
          maxLines: 1000
          httpHeaderName1: X-Scope-OrgID
        secureJsonData:
          httpHeaderValue1: k8s-nas

alerting:
  contactpoints.yaml:
    apiVersion: 1
    contactPoints:
      - orgId: 1
        name: Discord
        receivers:
          - uid: discord
            type: discord
            settings:
              url: $DISCORD_WEBHOOK_URL

grafana.ini:
  date_formats:
    default_timezone: browser
  auth.generic_oauth:
    enabled: true
    name: Authentik
    client_id: $__file{/etc/secrets/generic-oauth/client_id}
    client_secret: $__file{/etc/secrets/generic-oauth/client_secret}
    scopes: openid profile email offline_access
    role_attribute_path: contains(groups, 'Grafana Admins') && 'Admin' || contains(groups, 'Grafana Editors') && 'Editor' || 'Viewer'
    use_refresh_token: true

sidecar:
  alerts:
    enabled: true
    searchNamespace: ALL
  dashboards:
    enabled: true
    searchNamespace: ALL
    folderAnnotation: grafana_folder
    provider:
      disableDelete: true
      foldersFromFilesStructure: true

extraSecretMounts:
  - name: generic-oauth
    secretName: grafana-generic-oauth
    mountPath: /etc/secrets/generic-oauth
    defaultMode: 0440
    readOnly: true
