apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
helmCharts:
  - name: authentik
    repo: https://charts.goauthentik.io
    version: 2025.10.3
    releaseName: authentik
    namespace: authentik
    includeCRDs: true
    valuesFile: ../../base/values.yaml
patches:
  - path: patches/ingr.yaml
    target:
      kind: IngressRoute
      name: authentik
  - path: patches/cert.yaml
    target:
      kind: Certificate
      name: authentik
