apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
helmCharts:
  - name: authentik
    repo: https://charts.goauthentik.io
    version: 2025.12.1
    releaseName: authentik
    namespace: authentik
    includeCRDs: true
    valuesFile: ../../base/values.yaml
  - name: cluster
    repo: https://cloudnative-pg.github.io/charts
    version: 0.5.0
    releaseName: authentik-cnpg-cluster
    namespace: authentik
    includeCRDs: true
    valuesFile: ../../base/values.cnpg.yaml
patches:
  - path: patches/ingr.yaml
    target:
      kind: IngressRoute
      name: authentik
  - path: patches/cert.yaml
    target:
      kind: Certificate
      name: authentik
