apiVersion: 1
groups:
  - orgId: 1
    name: Node Exporter - Recording Rules
    folder: Infrastructure
    interval: 1m
    rules:
      - uid: fbe074e7-0f0b-52ce-885d-bd45fa519f0f
        title: instance:node_num_cpu:sum
        data:
          - refId: query
            queryType: prometheus
            relativeTimeRange:
              from: 660
              to: 60
            datasourceUid: mimir
            model:
              datasource:
                type: prometheus
                uid: mimir
              expr: |
                count without (cpu, mode) (
                  node_cpu_seconds_total{job="node",mode="idle"}
                )
              instant: true
              intervalMs: 1000
              maxDataPoints: 43200
              range: false
              refId: query
        noDataState: OK
        execErrState: OK
        labels:
          __converted_prometheus_rule__: "true"
        isPaused: false
        record:
          metric: instance:node_num_cpu:sum
          from: query
          targetDatasourceUid: mimir
        missing_series_evals_to_resolve: 1
      - uid: 9fa95258-6f0f-5a29-88ea-c37685b5307b
        title: instance:node_cpu_utilisation:rate5m
        data:
          - refId: query
            queryType: prometheus
            relativeTimeRange:
              from: 660
              to: 60
            datasourceUid: mimir
            model:
              datasource:
                type: prometheus
                uid: mimir
              expr: |
                1 - avg without (cpu) (
                  sum without (mode) (rate(node_cpu_seconds_total{job="node", mode=~"idle|iowait|steal"}[5m]))
                )
              instant: true
              intervalMs: 1000
              maxDataPoints: 43200
              range: false
              refId: query
        noDataState: OK
        execErrState: OK
        labels:
          __converted_prometheus_rule__: "true"
        isPaused: true
        record:
          metric: instance:node_cpu_utilisation:rate5m
          from: query
          targetDatasourceUid: mimir
        missing_series_evals_to_resolve: 1
      - uid: b100c587-97a5-5a91-9090-f5c177717ce3
        title: instance:node_load1_per_cpu:ratio
        data:
          - refId: query
            queryType: prometheus
            relativeTimeRange:
              from: 660
              to: 60
            datasourceUid: mimir
            model:
              datasource:
                type: prometheus
                uid: mimir
              expr: |
                (
                  node_load1{job="node"}
                /
                  instance:node_num_cpu:sum{job="node"}
                )
              instant: true
              intervalMs: 1000
              maxDataPoints: 43200
              range: false
              refId: query
        noDataState: OK
        execErrState: OK
        labels:
          __converted_prometheus_rule__: "true"
        isPaused: true
        record:
          metric: instance:node_load1_per_cpu:ratio
          from: query
          targetDatasourceUid: mimir
        missing_series_evals_to_resolve: 1
      - uid: 4ff02394-8ae1-5cfc-b282-c8763985505b
        title: instance:node_memory_utilisation:ratio
        data:
          - refId: query
            queryType: prometheus
            relativeTimeRange:
              from: 660
              to: 60
            datasourceUid: mimir
            model:
              datasource:
                type: prometheus
                uid: mimir
              expr: |
                1 - (
                  (
                    node_memory_MemAvailable_bytes{job="node"}
                    or
                    (
                      node_memory_Buffers_bytes{job="node"}
                      +
                      node_memory_Cached_bytes{job="node"}
                      +
                      node_memory_MemFree_bytes{job="node"}
                      +
                      node_memory_Slab_bytes{job="node"}
                    )
                  )
                /
                  node_memory_MemTotal_bytes{job="node"}
                )
              instant: true
              intervalMs: 1000
              maxDataPoints: 43200
              range: false
              refId: query
        noDataState: OK
        execErrState: OK
        labels:
          __converted_prometheus_rule__: "true"
        isPaused: true
        record:
          metric: instance:node_memory_utilisation:ratio
          from: query
          targetDatasourceUid: mimir
        missing_series_evals_to_resolve: 1
      - uid: bbdf214b-0bd3-53e5-87e9-b1a7eeecb8fe
        title: instance:node_vmstat_pgmajfault:rate5m
        data:
          - refId: query
            queryType: prometheus
            relativeTimeRange:
              from: 660
              to: 60
            datasourceUid: mimir
            model:
              datasource:
                type: prometheus
                uid: mimir
              expr: |
                rate(node_vmstat_pgmajfault{job="node"}[5m])
              instant: true
              intervalMs: 1000
              maxDataPoints: 43200
              range: false
              refId: query
        noDataState: OK
        execErrState: OK
        labels:
          __converted_prometheus_rule__: "true"
        isPaused: true
        record:
          metric: instance:node_vmstat_pgmajfault:rate5m
          from: query
          targetDatasourceUid: mimir
        missing_series_evals_to_resolve: 1
      - uid: 25d7b969-35e5-5745-9b3d-2ac6ddba5a8a
        title: instance_device:node_disk_io_time_seconds:rate5m
        data:
          - refId: query
            queryType: prometheus
            relativeTimeRange:
              from: 660
              to: 60
            datasourceUid: mimir
            model:
              datasource:
                type: prometheus
                uid: mimir
              expr: |
                rate(node_disk_io_time_seconds_total{job="node", device!=""}[5m])
              instant: true
              intervalMs: 1000
              maxDataPoints: 43200
              range: false
              refId: query
        noDataState: OK
        execErrState: OK
        labels:
          __converted_prometheus_rule__: "true"
        isPaused: true
        record:
          metric: instance_device:node_disk_io_time_seconds:rate5m
          from: query
          targetDatasourceUid: mimir
        missing_series_evals_to_resolve: 1
      - uid: 0204686a-12de-55c4-aa4a-f39bfbc8a3d2
        title: instance_device:node_disk_io_time_weighted_seconds:rate5m
        data:
          - refId: query
            queryType: prometheus
            relativeTimeRange:
              from: 660
              to: 60
            datasourceUid: mimir
            model:
              datasource:
                type: prometheus
                uid: mimir
              expr: |
                rate(node_disk_io_time_weighted_seconds_total{job="node", device!=""}[5m])
              instant: true
              intervalMs: 1000
              maxDataPoints: 43200
              range: false
              refId: query
        noDataState: OK
        execErrState: OK
        labels:
          __converted_prometheus_rule__: "true"
        isPaused: true
        record:
          metric: instance_device:node_disk_io_time_weighted_seconds:rate5m
          from: query
          targetDatasourceUid: mimir
        missing_series_evals_to_resolve: 1
      - uid: 843e1e86-570e-53b5-a693-1f564e19e8d4
        title: instance:node_network_receive_bytes_excluding_lo:rate5m
        data:
          - refId: query
            queryType: prometheus
            relativeTimeRange:
              from: 660
              to: 60
            datasourceUid: mimir
            model:
              datasource:
                type: prometheus
                uid: mimir
              expr: |
                sum without (device) (
                  rate(node_network_receive_bytes_total{job="node", device!="lo"}[5m])
                )
              instant: true
              intervalMs: 1000
              maxDataPoints: 43200
              range: false
              refId: query
        noDataState: OK
        execErrState: OK
        labels:
          __converted_prometheus_rule__: "true"
        isPaused: true
        record:
          metric: instance:node_network_receive_bytes_excluding_lo:rate5m
          from: query
          targetDatasourceUid: mimir
        missing_series_evals_to_resolve: 1
      - uid: ede26137-5983-57bb-bb72-5a658f435c09
        title: instance:node_network_transmit_bytes_excluding_lo:rate5m
        data:
          - refId: query
            queryType: prometheus
            relativeTimeRange:
              from: 660
              to: 60
            datasourceUid: mimir
            model:
              datasource:
                type: prometheus
                uid: mimir
              expr: |
                sum without (device) (
                  rate(node_network_transmit_bytes_total{job="node", device!="lo"}[5m])
                )
              instant: true
              intervalMs: 1000
              maxDataPoints: 43200
              range: false
              refId: query
        noDataState: OK
        execErrState: OK
        labels:
          __converted_prometheus_rule__: "true"
        isPaused: true
        record:
          metric: instance:node_network_transmit_bytes_excluding_lo:rate5m
          from: query
          targetDatasourceUid: mimir
        missing_series_evals_to_resolve: 1
      - uid: 0c13b6d0-47ce-57ef-9eb2-1d44d52d768f
        title: instance:node_network_receive_drop_excluding_lo:rate5m
        data:
          - refId: query
            queryType: prometheus
            relativeTimeRange:
              from: 660
              to: 60
            datasourceUid: mimir
            model:
              datasource:
                type: prometheus
                uid: mimir
              expr: |
                sum without (device) (
                  rate(node_network_receive_drop_total{job="node", device!="lo"}[5m])
                )
              instant: true
              intervalMs: 1000
              maxDataPoints: 43200
              range: false
              refId: query
        noDataState: OK
        execErrState: OK
        labels:
          __converted_prometheus_rule__: "true"
        isPaused: true
        record:
          metric: instance:node_network_receive_drop_excluding_lo:rate5m
          from: query
          targetDatasourceUid: mimir
        missing_series_evals_to_resolve: 1
      - uid: 04dd7cf1-96f4-5873-9d91-d96bccaefec8
        title: instance:node_network_transmit_drop_excluding_lo:rate5m
        data:
          - refId: query
            queryType: prometheus
            relativeTimeRange:
              from: 660
              to: 60
            datasourceUid: mimir
            model:
              datasource:
                type: prometheus
                uid: mimir
              expr: |
                sum without (device) (
                  rate(node_network_transmit_drop_total{job="node", device!="lo"}[5m])
                )
              instant: true
              intervalMs: 1000
              maxDataPoints: 43200
              range: false
              refId: query
        noDataState: OK
        execErrState: OK
        labels:
          __converted_prometheus_rule__: "true"
        isPaused: true
        record:
          metric: instance:node_network_transmit_drop_excluding_lo:rate5m
          from: query
          targetDatasourceUid: mimir
        missing_series_evals_to_resolve: 1
