apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 9.2.3
    releaseName: argocd
    namespace: argocd
    includeCRDs: true
    valuesFile: ../../base/values.yaml
    additionalValuesFiles:
      - values-production.yaml
patches:
  - path: patches/application.yaml
    target:
      kind: Application
  - path: patches/overlay-cm.yaml
    target:
      kind: ConfigMap
      name: argocd-overlay
  - path: patches/app-projects/infrastructure/infrastructure-application.yaml
    target:
      kind: Application
      name: infrastructure-apps
  - path: patches/app-projects/infrastructure/infrastructure-app-project.yaml
    target:
      kind: AppProject
      name: infrastructure
  - path: patches/ingr.yaml
    target:
      kind: IngressRoute
      name: argocd
  - path: patches/cert.yaml
    target:
      kind: Certificate
      name: argocd
  - path: patches/app-projects/media-server/media-server-app-project.yaml
    target:
      kind: AppProject
      name: media-server
  - path: patches/app-projects/media-server/media-server-application.yaml
    target:
      kind: Application
      name: media-server-apps
  - path: patches/app-projects/projects/projects-app-project.yaml
    target:
      kind: AppProject
      name: projects
  - path: patches/app-projects/projects/projects-application.yaml
    target:
      kind: Application
      name: projects-apps
replacements:
  - path: replacements/application-overlay-replacement.yaml
