mimir:
  structuredConfig:
    common:
      storage:
        backend: s3
        s3:
          access_key_id: "${S3_ACCESS_KEY_ID}"
          secret_access_key: "${S3_ACCESS_KEY}"
    ruler_storage:
      s3:
        bucket_name: mimir-ruler
    alertmanager_storage:
      s3:
        bucket_name: mimir-alertmanager
    blocks_storage:
      s3:
        bucket_name: mimir-blocks

alertmanager:
  persistentVolume:
    storageClass: nfs-ssd-1
    annotations:
      folder: monitoring/mimir/alertmanager
  extraEnvFrom:
    - secretRef:
        name: mimir-s3

compactor:
  persistentVolume:
    storageClass: nfs-ssd-1
    annotations:
      folder: monitoring/mimir/compactor

ingester:
  replicas: 1
  persistentVolume:
    storageClass: nfs-ssd-1
    annotations:
      folder: monitoring/mimir/ingester
  zoneAwareReplication:
    enabled: false

chunks-cache:
  enabled: true

index-cache:
  enabled: true

metadata-cache:
  enabled: true

results-cache:
  enabled: true

minio:
  enabled: false

overrides_exporter:
  enabled: false

querier:
  replicas: 1

ruler:
  replicas: 1
  extraEnvFrom:
    - secretRef:
        name: mimir-s3

query_scheduler:
  replicas: 1

store_gateway:
  persistentVolume:
    storageClass: nfs-ssd-1
    annotations:
      folder: monitoring/mimir/store-gateway
  zoneAwareReplication:
    enabled: false
  extraEnvFrom:
    - secretRef:
        name: mimir-s3
