global:
  extraEnvFrom:
    - secretRef:
        name: mimir-s3

mimir:
  structuredConfig:
    common:
      storage:
        backend: s3
        s3:
          access_key_id: "${S3_ACCESS_KEY_ID}"
          secret_access_key: "${S3_ACCESS_KEY}"
    ruler_storage:
      s3:
        bucket_name: mimir-ruler
    alertmanager_storage:
      s3:
        bucket_name: mimir-alertmanager
    blocks_storage:
      s3:
        bucket_name: mimir-blocks

alertmanager:
  resources:
    requests: null
    limits: null
  persistentVolume:
    storageClass: nfs-ssd-1
    annotations:
      folder: monitoring/mimir/alertmanager

distributor:
  resources:
    requests: null
    limits: null

compactor:
  resources:
    requests: null
    limits: null
  persistentVolume:
    storageClass: nfs-ssd-1
    annotations:
      folder: monitoring/mimir/compactor

ingester:
  replicas: 1
  resources:
    requests: null
    limits: null
  persistentVolume:
    storageClass: nfs-ssd-1
    annotations:
      folder: monitoring/mimir/ingester
  zoneAwareReplication:
    enabled: false

memcachedExporter:
  resources:
    requests: null
    limits: null

chunks-cache:
  enabled: true
  resources:
    requests: null
    limits: null

index-cache:
  enabled: true
  resources:
    requests: null
    limits: null

metadata-cache:
  enabled: true
  resources:
    requests: null
    limits: null

results-cache:
  enabled: true
  resources:
    requests: null
    limits: null

rollout_operator:
  enabled: false

minio:
  enabled: false

kafka:
  persistence:
    storageClassName: nfs-ssd-1
  resources:
    requests: null
    limits: null

overrides_exporter:
  enabled: false

querier:
  replicas: 1
  resources:
    requests: null
    limits: null

query_frontend:
  resources:
    requests: null
    limits: null

ruler:
  replicas: 1
  resources:
    requests: null
    limits: null

query_scheduler:
  replicas: 1
  resources:
    requests: null
    limits: null

store_gateway:
  resources:
    requests: null
    limits: null
  persistentVolume:
    storageClass: nfs-ssd-1
    annotations:
      folder: monitoring/mimir/store-gateway
  zoneAwareReplication:
    enabled: false
